html,body,div{
	margin: 0;
	padding: 0;
}
html,body{
	width:100%;
	overflow: hidden;
}
#d{
	width: 100%;
    position: relative;
}
#scroll{
	width: 2px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 4px;
	background: red;
}