// =============================================
// @author: wzx
// @time: 2015-06-02
// =============================================
@import "lib";

.reset();

.zc_header{width: 1200px; margin: 0 auto; height: 68px; .o}
.zc_logo{.fl;.pt(19px)}

.zc_con{background: url(../images/bg_zc_con.jpg) no-repeat 50% 0; height: 300px}
