// =============================================
// @author: wzx
// @time: 2015-06-02
// =============================================
@import "lib";

.reset();
.fix{.clearfix}
.bdea{border:1px solid #eaeaea}
.dn{.dn}
.zc_header{width: 1200px; margin: 0 auto; height: 68px; .o}
.zc_logo{.fl;.pt(19px)}
.zc_nav{.fr}
.zc_nav li{.fl}
.zc_nava{.db;width: 128px; .tc;.c3;.fs(16px);.lh(68px);&:hover{text-decoration: none}}
.zc_nav01{background: url("../images/bg_nav01.gif") no-repeat}
.zc_nav02{background: url("../images/bg_nav02.gif") no-repeat}
.zc_nav03{background: url("../images/bg_nav03.gif") no-repeat}
.zc_nav04{background: url("../images/bg_nav04.gif") no-repeat}
.zc_nav05{background: url("../images/bg_nav05.gif") no-repeat}
.zc_navon01{background: url("../images/bg_navon01.png") no-repeat; color: #fff}
.zc_navon02{background: url("../images/bg_navon02.png") no-repeat; color: #fff}
.zc_navon03{background: url("../images/bg_navon03.png") no-repeat; color: #fff}
.zc_navon04{background: url("../images/bg_navon04.png") no-repeat; color: #fff}
.zc_navon05{background: url("../images/bg_navon05.png") no-repeat; color: #fff}

.zc_con{background:url(../images/bg_zc_con.jpg) no-repeat 50% 0}
.zc_con2{background:#fafafa url(../images/bg_zc_con2.jpg) no-repeat 50% 0}
.pt210{.pt(210px)}
.zc_login{width: 400px; height: 260px; border: 1px solid #e5e5e5; box-shadow: 0 0 2px 1px #f3f3f3; .bgf;  margin:0 auto}
.zc_login_h{.lh(52px);.pl(20px); .c3; .fs(14px); border-bottom: 1px solid #eaeaea;.bgfa;}
.zc_login_fm{width:285px; margin: 0 auto; .pt(20px)}
.zc_login_fm p{.mb(20px);.o}
.zc_login_in{width:210px; border: none; background: url(../images/login_sp.png) no-repeat; outline: none; .c9;.pl(55px);.pr(20px); .lh(20px);.pt(10px); .pb(10px)}
.zc_login_in2{background: url(../images/login_sp.png) no-repeat 0 100%}
.zc_login_sub{.btn_blue;.fr;.poi;.fw}
.zc_login_fg{.fl;.c9}

.zc_footer{.tc;.pt(40px); .pb(40px)}
.zc_footer p{.fs(14px);.mb(5px)}

.bgea{background: #eaeaea}
.bgfa{.bgfa}
.zc_con_in{width: 1200px; margin: 0 auto}
.zc_snav{.pt(27px);.pb(24px);.clearfix}
.zc_snav .zc_snava{.dib;width: 108px; border: 1px solid #6b716d;.lh(36px);.cf;.tc; border-radius: 2px; .mr(20px);.rel;&:hover{ text-decoration: none; background: #6b716d}}
.zc_snav .zc_snava em{.db;.abs;.lh(17px); width: 35px;.tc;background: #0dc3ce;.cf;top:0;right: -5px;border-radius: 8px}
.zc_snav_btm{.fr}
.zc_snavon{background: #6b716d}
.zc_layout{background:#fff url("../images/bg_line.gif") repeat-y;.rel;.clearfix}
.zc_layout_nobg{background:#fff}
.zc_tj{.abs;.db; background: url("../images/bg_icon_tj.png") no-repeat; width: 14px; height: 5px; _font-size: 0; left: 50px; top: -5px}
.zc_tj03{left:310px}
.zc_tj02{left:180px}
.zc_outleft{width: 180px;.fl}
.zc_til01{.lh(54px);.fs(16px);.c3;.pl(20px);.pr(10px); background: #eaeaea}
.zc_btn{.fr;.lh(22px);.fs(12px);background: #0dc3ce;.cf;.pl(10px);.pr(10px);border-radius: 10px;.mt(15px);&:hover{text-decoration: none}}
.zc_list li{.lh(48px);border-bottom: 1px solid #eaeaea}
.zc_list a{.lh(48px);.fs(14px);.c6;.pl(20px);.db;&:hover{text-decoration: none}}
.zc_list .zc_liston a{background: #fff}
.zc_outright{.fr;.p(20px);width: 980px;.clearfix}
.zc_inleft{width: 520px;.fl}
.zc_inright{width: 440px; .fr}
.zc_intop{border: 1px solid #eaeaea;.mb(20px)}
.zc_til02{.lh(48px);.fs(14px);.c3;.pl(20px);.pr(10px);.bgfa;border-bottom: 1px solid #eaeaea}
.zc_indiv{.pl(20px);.pt(20px)}
.zc_indiv p{.lh(32px); .mb(15px)}
.zc_indiv label{.fs(14px);.c6;.poi}
.zc_in{border: 1px solid #eaeaea;.bgf;.p(5px);.lh(20px); width:160px;.mr(23px)}
.w420{width: 399px}
.zc_inbom{border: 1px solid #eaeaea;.mb(20px); background: #fff url("../images/bg_line2.gif") repeat-y}
.zc_bom_til{.clearfix;border-bottom: 1px solid #eaeaea}
.zc_til03{.lh(48px);.fs(14px);.c3;.pl(20px);.pr(10px)}
.zc_bom_left{.fl; width: 149px}
.zc_bom_right{.fr; width: 309px}
.zc_list2{.fl;width: 179px;.mt(-1px)}
.zc_list2 li{.lh(38px)}
.zc_list2 a{.lh(38px);.fs(12px);.c6;.pl(20px);.db;&:hover{text-decoration: none; color: #0dc3ce}}
.zc_list2 .zc_liston a{background: #fff;color: #0dc3ce;border-bottom: 1px solid #eaeaea;border-top: 1px solid #eaeaea}
.zc_bom_r{width: 309px; .fl;.pl(30px);.pb(10px)}
.zc_bom_rtil,.zc_bom_r li,.zc_lp li{.lh(40px)}
.zc_bom_r .zc_bom_rtil span{.c3}
.zc_bom_r em,.zc_lp em,.zc_sul em{color: #eaeaea; .dib;.ml(20px);.mr(20px); .vm}
.zc_bom_r span,.zc_lp span,.zc_sul span{.c6;.dib; .vm;.tc}
.zc_bom_r .zc_sp01{width: 100px; .lh(14px);.o}
.zc_bom_r .zc_sp02{width: 40px; .lh(14px);.o}
.zc_bom_r .zc_sp03{width: 60px; .lh(14px);.o}
.zc_inrout{border: 1px solid #eaeaea}
.zc_til04{.pr(10px);height: 49px; background: url("../images/bg_line3.gif") repeat-x;.o}
.zc_inrtab{.fl;.ml(-1px)}
.zc_inrtab a{.dib;.lh(49px);.c3;.fs(14px);.pl(18px);.pr(18px);border-right: 1px solid #fafafa;border-left: 1px solid #fafafa;background: url("../images/bg_line.png") no-repeat 100% 50%;&:hover{text-decoration: none}}
.zc_inrtab02{float: none}
.zc_inrtab02 a{.pl(39px);.pr(38px);}
.zc_inrtab .nobg{background-image: none}
.zc_inrtab .zc_inrtabon{color: #0dc3ce;.bgf; border-right:1px solid #eaeaea; border-left:1px solid #eaeaea;.ml(-2px)}
.zc_lp .zc_lp00{width: 40px; .lh(20px);.o; .pl(30px); background: url("../images/icon01.png") no-repeat 0 50%; .ml(20px)}
.zc_lp .zc_lp01{background: url("../images/icon02.png") no-repeat 0 50%}
.zc_lp .zc_lp02{width: 110px; .lh(20px);.o}
.zc_lp .zc_lp03{width: 110px; .lh(20px);.o}
.zc_dul li{.lh(40px);.pl(20px)}
.zc_sul{.tc;.pt(10px);.pb(20px)}
.zc_sul li{.lh(40px)}
.zc_sul .zc_sp{width:100px; .lh(14px);.o}
.zc_batch{width: 520px; margin: 0 auto; .pt(40px);.pb(200px)}
.zc_batchp01{.tc;.lh(40px);border: 1px solid #eaeaea; .mb(20px);.c6}
.zc_batchp02{.tl;.lh(40px);border: 1px solid #eaeaea; .mb(20px);.c6;.pl(20px)}
.zc_batchp02 a{color: #0dc3ce; text-decoration: underline; .ml(150px)}
#zc_file{.rel}
.zc_file{position:absolute; left:0; top:3px;z-index:10;filter:alpha(opacity:0); opacity:0;width:440px; height: 40px}
.zc_filebg{width:520px;height: 42px;.abs; top:0; left:0;}
.zc_filesrc{width:350px;.lh(22px); .pl(20px);.pr(70px);.pt(10px;);.pb(10px);.c6;.abs;top:0; left: 0; background: url("../images/bg_file.png") no-repeat}
.zc_filebtn{.dib;top: 0;right: 0;.abs;.cf;.fs(16px); width: 73px; .lh(40px);.tc;background: #0dc3ce;border-radius: 3px;.poi;border: none;.fw}
.zc_addp{.lh(50px);.pl(20px);.c6}
.zc_zd{border-bottom: 1px solid #eaeaea;border-top: 1px solid #eaeaea;.mb(-1px);.clearfix}
.zc_zd .zc_zdem{.lh(50px);.bgfa;.c6;.tc;width: 150px;.fl}
.zc_zd .zc_zdsp{width: 460px;.fl;.pl(10px);.mt(10px)}
.zc_zd .zc_zdsp2{.mt(15px)}
.zc_divqd{.tc;.pt(39px);.pb(20px)}
.zc_queding{.dib;.cf;.fs(14px); .lh(30px);background: #0dc3ce;border-radius: 3px;.poi;border: none;.fw;.pl(30px);.pr(30px)}
.zc_tils{height:54px;background:#eaeaea}

.ant-search-bar{.abs;right:20px;top:9px;width: 280px}
.ant-search-bar .ant-search-wrap {  position: relative;  border-radius: 2px}
.ant-search-bar .ant-search-bdr {  border: 1px solid #eaeaea;  border-radius: 2px;}
.ant-search-bar input {display: block;width: 100%;height: 32px;line-height: 32px;border: 0 none;text-indent:1em;color: #999;font-size: 12px;font-family: \5FAE\8F6F\96C5\9ED1;  background: #fff;  -webkit-transition: box-shadow .2s ease-in;  transition: box-shadow .2s ease-in;outline: none}
.ant-search-bar .ant-search-btn {  position: absolute;  right:1px;  top:1px;  width: 68px;  height: 34px;  line-height: 34px;  border: 0 none;  color: #fff;  font-size: 14px;  background: #0dc3ce;  border-radius: 2px;  cursor: pointer;  -webkit-transition: background .2s ease-in;  transition: background .2s ease-in;  font-family: \5FAE\8F6F\96C5\9ED1;}
.ant-search-bar-drop .ant-search-bar-dropcon {  position: absolute;  top: 4px;  left: 4px;  width: 80px;  height: 32px;  line-height: 32px;  color: #999;  text-indent: 0.7em;  font-size: 12px;  font-family: \5FAE\8F6F\96C5\9ED1;  background-color: #fff;}
.ant-search-bar-drop .ant-search-bar-dropicon {  position:absolute;  top:50%;  right:8px;  margin-top:-7px;  width:13px;  height:13px;
  background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.png) -61px 0 no-repeat; _background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.gif) -61px 0 no-repeat;}
.ant-search-bar-drop .ant-search-bar-droplist {  position:absolute;  top:32px;  left:-4px;  width:79px;  border:1px solid #eaeaea;
  background:#fff;  border-radius:0 0 2px 2px;}
.ant-search-bar-drop .ant-search-bar-droplist li {  height:28px;  line-height:28px;  overflow:hidden;  text-indent:0.8em;  vertical-align:middle;}
.ant-search-bar-drop .ant-search-bar-droplist a,.ant-search-bar-drop .ant-search-bar-droplist a:visited {  display:block;  color:#666;}
.ant-search-bar-drop .ant-search-bar-droplist a:hover{  text-decoration:none;  background:#f2f2f2;}

.zc_tidc{.fl;width: 180px; .tc;.lh(54px);.c3;.fs(14px); background: #e3e2e3}
.zc_inrtabs{.fl}
.zc_inrtabs a{.dib;.lh(54px);.c3;.fs(14px);.pl(35px);.pr(35px);background: url("../images/bg_line2.png") no-repeat 100% 45%;&:hover{text-decoration: none}}
.zc_inrtabs .nobg{background-image: none}
.zc_inrtabs .zc_inrtabon{color: #0dc3ce;.bgf}
.zc_fp li{.lh(48px);border-bottom: 1px solid #eaeaea; .bgf;.vt;.dn}
.zc_dlp em{color: #eaeaea; .dib;.ml(20px);.mr(20px); .vm}
.zc_fp span{.c6;.dib; .vt;.tc;.lh(48px)}
.zc_fp .zc_fp1 em{.lh(48px);.o;.dib;.pl(30px)}
.zc_fp .zc_fp01 em{background:url("../images/icon01.png") no-repeat 0px 50%}
.zc_fp .zc_fp02 em{background:url("../images/icon02.png") no-repeat 0px 50%}
.zc_fp .zc_fp03 em{background:url("../images/icon03.png") no-repeat 0px 50%}
.zc_fp .zc_fp04 em{background:url("../images/icon04.png") no-repeat 0px 50%}
.pagination{.pt(20px);.pb(20px);.lh(24px);.tc}
.pagination a, .pagination span{width:24px}
.pagination .prev, .pagination .next{width:39px}
.pagination a, .pagination span,.pagination .current.prev, .pagination .current.next{.dib; height: 24px; background: #fff; border-radius:50%;.mr(10px);.vm;.c6}
.pagination .current{background: #0dc3ce;.cf}

.zc_dtil{.lh(52px);border-bottom: 1px solid #eaeaea; .pl(20px); .c3;.fs(14px)}
.zc_ddsp{.c6;.dib; .vm;.tc;width:260px; .lh(52px);.o;}
.zc_navlog{.pt(30px);.pb(20px);.clearfix}
.zc_zhi{.lh(32px);.cf;.pl(10px);.pr(10px)}
.ant-select {position:relative;width:120px;z-index: 2;.fl}
.ant-select .ant-selected-text { display:block; position:relative;text-indent:0.8em;height:30px;  line-height:30px;  border:1px solid #eaeaea;  color:#666;  font-size:12px;  background:#fcfcfc;.poi}
.ant-select-less .ant-selected-text {  height:28px;  line-height:28px;}
.ant-select em {  float:left;}
.ant-select i {  position:absolute;  width:7px;  height:4px;  top:50%;  right:10px;  margin-top:-2px;  overflow:hidden;  background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.png) -50px 0 no-repeat;  _background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.gif) -50px 0 no-repeat;}
.ant-select .ant-select-item {  position:absolute;  top:27px;  left:0;  width:100%;  background:#fff;}
.ant-select .ant-select-list {  border:1px solid #eaeaea;  max-height:180px;  height:auto;  _height:180px;  overflow:auto;}
.ant-select li {  height:30px;  line-height:30px;  text-indent:0.8em;  vertical-align:middle;  font-size:12px;  overflow:hidden;}
.ant-select a,.ant-select a:visited{  display:block;  padding-right:6px;  color:#666;}
.ant-select a:hover {  color:#666;  text-decoration:none;  background:#f2f2f2;}
.zc_zcselect{.fl;.pt(10px);.pl(10px)}
.s_room{width: 172px;z-index: 10}
.s_area{width: 172px;z-index: 9}
.s_rack{width: 172px;z-index: 8}
.s_depart{width: 172px;z-index: 7}
.s_business{width: 172px;z-index: 6}
.s_service{width: 172px;z-index: 5}

.zc_afm{.pt(30px);.pb(30px)}
.zc_ain{.lh(16px);border: 1px solid #eaeaea; border-right: none;.pt(10px);.pb(10px);.c9;.fw;width: 160px; .pl(10px); border-radius: 2px 0 0 2px;.vm}
.zc_abtn{.vm;.lh(38px);width: 68px; .tc; background: #0dc3ce;border-radius:0 2px 2px 0; border: none; .cf; .poi}
.zc_aout{.clearfix;.bgf}
.zc_aoutl{width: 240px;border-right: 1px solid #eaeaea;.fl}
.zc_aoutl dt{.lh(48px);border-bottom: 1px solid #eaeaea;.fs(14px);.c6;background:#f2f2f2 url("../images/icon.gif") no-repeat 92% 50%;.pl(20px);.pr(20px);.poi}
.zc_dlup dd{display: none}
.zc_aoutl .zc_dldown dt{background:#f2f2f2 url("../images/icon2.gif") no-repeat 92% 50%}
.zc_aoutl dd{.bgfa;.lh(48px);.fs(14px);.c6;border-bottom:1px dashed #eaeaea}
.zc_aoutl .zc_asp{.dib;width: 60px; .lh(24px);.tc;.vm;background: #0dc3ce;border-radius: 3px;.cf;.fs(12px)}
.zc_aoutr{width: 959px;.bgf;.fr}
.zc_aname{.bgfa;.lh(52px);.fs(14px);.c6;border-bottom:1px solid #eaeaea;.pl(20px);.clearfix}
.zc_aname .zc_asp{.dib;width: 60px; .lh(24px);.tc;.vm;background: #0dc3ce;border-radius: 3px;.cf;.fs(12px)}
.zc_spa{.fl;.lh(52px);}
.ant-select2{width: 200px;margin-top:10px; margin-right: 10px}
.zc_in2{width: 188px; margin-right: 10px}

.ant-popover {  position:absolute;  z-index:210000000;  width:400px;  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);  border-radius:2px;
  font-size:14px;  border:1px solid #dedede;  background:#fff;}
.ant-popover-hd {  position:relative;  height:50px;  line-height:50px;  border-bottom:1px solid #dbdbdb;  cursor:move;
  background:#fcfcfc;}
.ant-popover-tip {  margin-left:10px;  color:#999;  text-shadow:0 0 0 #fff;}
.ant-popover-bd {  padding:30px 10px;  text-align:center;}
.ant-popover-extra {  padding:10px 0;  margin:0 10px;  border-top:1px solid #efefef;  text-align:center;}
.ant-popover-close {  position:absolute;  top:50%;  right:16px;  margin-top:-6px;  width:12px;  height:12px;  overflow:hidden; text-indent:-9999px;
  background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.png) -75px 0 no-repeat;
  _background:url(http://static.wkimg.com/common/ui/ant_icons/ant_sprite.gif) -75px 0 no-repeat;
}
.ant-btn {
  display:inline-block;
  padding:0 20px;
  height:26px;
  border:1px solid #eaeaea;
  border-radius:2px;
  line-height:26px;
  text-align:center;
  font-size:12px;
  color:#999;
  background:#fff;
  -webkit-transition:border .2s ease-in, color .2s ease-in;
  transition:border .2s ease-in, color .2s ease-in;
}
.ant-btn-main-blue {
  border:1px solid #0dc3ce;
  color:#f9f9f9;
  background:#0dc3ce;
  -webkit-transition:background .2s ease-in, border .2s ease-in;
  transition:background .2s ease-in, border .2s ease-in;
}
.ant-btn-main-blue:hover {
  border:1px solid #04b9c4;
  color:#f9f9f9;
  background:#04b9c4;
  -webkit-transition:background .2s ease-in, border .2s ease-in;
  transition:background .2s ease-in, border .2s ease-in;
  text-decoration: none;
}
.ant-btn-main-gray {
  background:#fff;
  -webkit-transition:background .2s ease-in;
  transition:background .2s ease-in;
}
.ant-btn-main-gray:hover {
  border:1px solid #eaeaea;
  color:#999;
  background:#f2f2f2;
  text-decoration: none;
}
.dialog_con{width: 300px; margin: 0 auto;.pt(15px)}
.dialog_con .zc_in{margin-right: 0}
.dialog_con label{width: 100px;.dib;.lh(32px);.vm;.tr}
.dialog_con p{margin-bottom: 15px}


.zc_btnsee{float: none;.dib;.ml(10px);.fs(12px);.cf;.pl(10px);.pr(10px);.pb(1px);.pt(0px);border-radius:5px;border:1px solid #f7a61e;  color:#f9f9f9;  background:#f7a61e;  -webkit-transition:background .2s ease-in, border .2s ease-in;
  transition:background .2s ease-in, border .2s ease-in}
.zc_btnsee:hover {  border:1px solid #f59101;  color:#f9f9f9;  background:#f59101;text-decoration: none}

.zc_logp{.pt(100px);.pb(100px);.tc;.fs(14px)}
.zc_loglist{min-height: 530px}
.zc_lp{height:600px;overflow:auto}
::-webkit-scrollbar-track-piece{background:#fff;}
::-webkit-scrollbar{width:12px;height:12px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece{background:-webkit-gradient(linear,left);}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:horizontal{border-radius:6px;background:#bdbdbd;}
::-webkit-scrollbar-thumb:hover{background:#8e8e8e;}
::-webkit-scrollbar-thumb:active{background:#828181;}

.zc_ulip{.fl;width: 850px;.pt(13px)}
.zc_uliph{max-height:100px;overflow: auto}
.zc_liip{.fl;.pl(10px);width: 130px;.pb(15px);}
.zc_liip input,.zc_liip span{.vm}

.zc_type p{.lh(48px);border-bottom: 1px solid #eaeaea; width: 100%;.dn;color:#0dc3ce}
.zc_type .zc_typep01{.db}
.zc_typep span{.dib; .vt;.tc;.lh(48px);.o;}
.zc_typep01 span,.zc_fpli01 span{width:33%}
.zc_typep02 span,.zc_fpli02 span{width:49%}
.zc_typep03 span,.zc_fpli03 span{width:19%}
.zc_typep04 span,.zc_fpli04 span{width:16%}
.zc_typep05 span,.zc_fpli05 span{width:24%}
.zc_typep06 span,.zc_fpli06 span{width:14%}
.zc_fp .zc_fpli01{.db}