/***������**/
.fh{
	height:44px;position:absolute;left: 0;
}
.my{
	color: white;margin: 0 auto;
}
.set{
	height:30px;position:absolute;top:12px;right:10px;
}
#gr_box{
   width:100%;
   height: 80%;
}
#gr{
	width: 100%;
	height: 80%;
	position: relative;
}

#gr_img{
	width: 100%;
}
#gr img{
	width: 100%;
	height: 80%;
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(1px); /* Chrome, Opera */
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);    
            filter: blur(1px);
}
#sc_box{
	width:100%;
	position: absolute;
	bottom: 15px;
	height:70px;
	background: rgba(1,1,1,0.2);
	line-height: 70px;
	padding-top: 15px;
}
#sc_box>div{
  float: left;	
  width:33%;
  line-height:40px;
  border-right: 1px #cccccc solid;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
#sc_box>div div{
	-webkit-box-flex:1;
	text-align: center;
	line-height: 20px;
	color: white;
}
#gr_xx{
	position: absolute;
	right:10%;
	top: 20%;
}
#gr_xx ul li{
	font-size: 18px;
}
#tx{
	position: absolute;
	left:10%;
	top: 20%;
	width:90px;
	height:90px;
	-webkit-border-radius: 45px;
	-ms-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	border-radius: 45px;
	overflow: hidden;
	-webkit-box-sizing:-webkit-border-box;
	-ms-box-sizing:-ms-border-box;
	-moz-box-sizing:-moz-border-box;
	-o-box-sizing:-o-border-box;
	box-sizing:border-box;
}
#tx div{
	height: 90px;
	width:90px;
}
#tx img{
	height: 90px;
	width: 90px;
}
#canvas{
	position: absolute;
	left:10%;
	top: 20%;
}

/****�ҵĶ���****/
div.unit{
	margin-top: 10px;
	background: white;
	font-family:"΢���ź�";
	padding-bottom: 15px;
}
div.title{
	width: 100%;
	height: 36px;
	background: white;
	padding: 0 10px 0 10px;
	text-align: center;
	line-height: 36px;
	border: 2px #f6f4ef solid;
}
.icon{
	height: 36px;
	width:20px;
	text-align: center;
	line-height: 36px;
	padding: 8px 0 8px 0;
	float: left;
	margin-right: 5px;
}
.icon img{
	height: 20px;
	width: 20px;
}
.title h4{
	float: left;
	font-size: 14px;
}
.title a{
	float: right;
	font-size: 14px;
	color:#cccccc;
}
.title a span{
	float: left;
	margin-right: 5px;
}
.more{
	float: left;
	height: 36px;
	width: 20px;
	text-align: center;
	line-height: 36px;
	padding: 8px 0 8px 0;
}
.more img{
	height: 20px;
	width: 20px;
}
.order_img,.like_img{
	width:100%;
}
.order_img table{
	width:100%;
    text-align:center;
    margin-top: 15px;
}
.order_img table tr{
	width:100%;
}
.order_img table tr td{
	width:20%;
}
.order_img table img{
	margin:0 auto;
}
.order_img table span{
	font-size:13px;
	font-family:"΢���ź�";
}
.qianbao_tab td{
	width:33px;
}
.qianbao_tab tr:last-child td{
	border-right:1px #cccccc solid;
}
.qianbao_tab tr:last-child td:last-child{
	border:none;
}
.like_img{
	padding: 15px 15px 0 15px;
}

.like_img tr td{
    width: 25%;
}
.like_img tr:first-child td img{
	border:1px #cccccc solid;
	width: 100%;
    margin: 0 auto;
}
.like_img tr td span{
	 font-size:13px;
	 display:inline-block;
	 overflow: hidden;
}
.like_img tr:last-child td span{
	color:#ff5400;
}


