/* 公共样式2014 [20140421 09:46:40] */
@charset "gb2312";
/* CSS Document */

/*reset*/
body,html{ padding:0; margin:0 auto; background:#fff; line-height:24px; word-break:break-all;}
img{ border:none;}
h1,h2,h3,h4,h5,h6,hr,blockquote,form,ul,ol,li,p,pre,dl,dt,dd,fieldset,legend,button,input,textarea,th,td,figure{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
sup{ vertical-align:text-top;}
sub{ vertical-align:text-bottom;}
legend{ color:#000;}
fieldset{ border:0;} 
button,input,select,textarea{ font-size:100%;}
table{ border-collapse:collapse; border-spacing:0;}
textarea{ resize:none;}

/*public font*/
body,button,input,select,textarea{ font-family:Arial, Helvetica, sans-serif 宋体; color:#333; font-size:12px;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:500;}
address,cite,dfn,em,var,s{ font-style:normal;}
code,kbd,pre,samp{ font-family:courier new, courier, monospace;}
.fn{ font-weight:500;}.fb{ font-weight:700;}
small,.ft12{ font-size:12px;}.ft14{ font-size:14px;}.ft16{ font-size:16px;}.ft18{ font-size:18px;}.ft20{ font-size:20px;}.ft22{ font-size:22px;}.ft24{ font-size:24px;}
.ffs{ font-family:"宋体";}.ffm{ font-family:"Microsoft YaHei";}.ffa{ font-family:Arial, Helvetica, sans-serif;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#f00; text-decoration:underline;}
.blue{ color:#4D97C5;}.blue:hover{ color:#4D97C5;}
.red{ color:#B70B00;}.red:hover{ color:#B70B00;}
.white{ color:#fff;}.white:hover{ color:#fff;}
.org{ color:#ff6600;}.org:hover{ color:#ff6600;}
.op8:hover{ filter:alpha(opacity=80); opacity:0.8;}
.c-g3,.c-g3 a{ color:#339900;}
.c-g1,.c-g1 a{ color:#176100;}
.c-b9,.c-b9 a{ color:#999;}
.c-b6,.c-b6 a{ color:#666;}
.c-b3,.c-b3 a{ color:#333;}
.c-bc,.c-bc a{ color:#C3C3C3;}
.c-of,.c-of a{ color:#FE5639;}
.c-o3,.c-o3 a{ color:#F36E41;}
.c-l2,.c-l2 a{ color:#2C6BB3;}
.c-l0,.c-l0 a{ color:#0066CC;}
.c-l0:hover,.c-l0 a:hover{ color:#004182;}
.ti2{ text-indent:2em;}
.ws10{ word-spacing:10px;}

/*grid*/
.tm-2{ margin-top:-2px;}.tm5{margin-top:5px;}.tm10{margin-top:10px;}.tm15{margin-top:15px;}.tm20{margin-top:20px;}.tm25{margin-top:25px;}.lm-1{ margin-left:-1px;}.lm5{margin-left:5px;}.lm10{margin-left:10px;}.lm15{margin-left:15px;}.lm20{margin-left:20px;}.lm25{margin-left:25px;}.lm80{margin-left:80px;}.rm5{margin-right:5px;}.rm10{margin-right:10px;}.rm15{margin-right:15px;}.rm20{margin-right:20px;}.rm25{margin-right:25px;}.bm5{margin-bottom:5px;}.bm10{margin-bottom:10px;}.bm15{margin-bottom:15px;}.bm20{margin-bottom:20px;}.bm25{margin-bottom:25px;}.tp5{padding-top:5px;}.tp10{padding-top:10px;}.tp15{padding-top:15px;}.tp20{padding-top:20px;}.tp25{padding-top:25px;}.tp55{padding-top:55px;}.tp60{padding-top:60px;}.lp5{padding-left:5px;}.lp10{padding-left:10px;}.lp15{padding-left:15px;}.lp20{padding-left:20px;}.lp25{padding-left:25px;}.lp40{padding-left:40px;}.rp5{padding-right:5px;}.rp10{padding-right:10px;}.rp15{padding-right:15px;}.rp20{padding-right:20px;}.rp25{padding-right:25px;}.bp5{padding-bottom:5px;}.bp10{padding-bottom:10px;}.bp15{padding-bottom:15px;}.bp20{padding-bottom:20px;}.bp25{padding-bottom:25px;}.bp55{padding-bottom:55px;}.bp60{padding-bottom:60px;}.rp8{ padding-right:8px;}
.wrap950{ width:950px; margin:0 auto;}.wrap1000{ width:1000px; margin:0 auto;}
.tl{ text-align:left;}.tc{ text-align:center;}.tr{ text-align:right;}
.fl{ float:left; _display:inline;}.fr{ float:right;}
.clear{ clear:both; line-height:0px; font-size:0px;}
.clearfix:after{ content:".";display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ zoom:1;}
.hr_5{ clear:both; height:10px; overflow:hidden; font-size:1px; line-height:1px;}
.hr_10{ clear:both; height:10px; overflow:hidden; font-size:1px; line-height:1px;}
.vm{ vertical-align:middle;}.vt{ vertical-align:top;}
.db{ display:block;}.dn{ display:none;}.vh{ visibility:hidden;}
.utra{ transition:all 0.2s ease-in-out 0s; -moz-transition:all 0.2s ease-in-out 0s; -webkit-transition:all 0.2s ease-in-out 0s; -o-transition:all 0.2s ease-in-out 0s;}
.pta{ position:absolute;}.ptr{ position:relative;}
.bls{ border-left:1px solid #ddd;}.brs{ border-right:1px solid #ddd;}.bts{ border-top:1px solid #ddd;}.bbs{ border-bottom:1px solid #ddd;}
.br3{ border-radius:3px;}
.cp{ cursor:pointer;}
.grid730{ width:730px;}
.grid680{ width:680px;}
.grid260{ width:260px;}
select{ height:22px; line-height:18px; padding:2px; border:1px solid #d9d9d9; border-radius:2px;}

/*unit*/