/**
 * variables
 */
/**
 * reset
 */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif; }

header, footer, div, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal; }

li {
  list-style-type: none; }

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif; }

/**
 * sidebar
 */
.outer-wrap {
  height: 100%; }

.sidebar {
  min-height: 100%;
  width: 240px;
  background-color: #2b4064;
  float: left; }
  .sidebar h1 {
    height: 50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 1.8rem;
    background-color: #2c3049;
    color: #F5FBFF; }
  .sidebar .new-album {
    display: block;
    background-color: #f78755;
    width: 140px;
    height: 35px;
    line-height: 35px;
    margin: 50px auto;
    border-radius: 5px;
    color: #F5FBFF;
    font-size: 1.4rem;
    transition: 0.2s ease; }
    .sidebar .new-album:hover {
      background-color: #FCA178; }
    .sidebar .new-album i {
      margin-right: 8px; }
  .sidebar .cate-list {
    color: #ACCADF;
    font-size: 1.4rem; }
    .sidebar .cate-list li {
      height: 48px;
      line-height: 48px;
      background-color: #2b446b;
      margin: 2px 0;
      padding-left: 46px;
      cursor: pointer;
      position: relative; }
      .sidebar .cate-list li i {
        display: none;
        position: absolute;
        top: 18px;
        font-size: 1.6rem; }
      .sidebar .cate-list li .fa-trash-o {
        right: 20px; }
      .sidebar .cate-list li .fa-pencil {
        right: 48px; }
      .sidebar .cate-list li:hover {
        border-left: 4px solid #f78755;
        padding-left: 42px;
        color: #F5FBFF;
        background-color: #2d4e7c; }
        .sidebar .cate-list li:hover i {
          display: inline-block; }

/**
 * main pistures
 */
.main {
  min-height: 100%;
  overflow: auto;
  background-color: #ededed;
  position: relative; }
  .main .add-pic {
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    background-color: #2b4064;
    color: #F5FBFF;
    position: absolute;
    top: 35px;
    right: 50px;
    transition: 0.2s ease; }
    .main .add-pic:hover {
      background-color: #5D7398; }
  .main .pics-area {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 105px; }
    .main .pics-area .block {
      width: 330px;
      height: 255px;
      float: left;
      margin: 0 0 20px 20px;
      background-color: #fff;
      border-radius: 5px; }
      .main .pics-area .block img {
        display: block;
        margin: 10px auto;
        max-width: 310px;
        height: 205px;
        overflow: hidden; }
      .main .pics-area .block .pic-title {
        margin: 0 12px;
        font-size: 1.4rem; }
        .main .pics-area .block .pic-title h3 {
          float: left;
          color: #858585; }
        .main .pics-area .block .pic-title div {
          float: right;
          color: #d7e0e4; }

/**
 * click right
 */
.click-right {
  width: 130px;
  height: 109px;
  position: absolute;
  top: 500px;
  left: 300px;
  z-index: 100;
  overflow: hidden;
  background-color: #2b4064;
  border-radius: 5px;
  color: #ACCADF;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6); }
  .click-right li {
    height: 35px;
    line-height: 35px;
    background-color: #2b446b;
    margin-bottom: 2px;
    padding-left: 35px;
    cursor: pointer; }
    .click-right li:last-of-type {
      margin: 0; }
    .click-right li i {
      width: 25px; }
    .click-right li:hover {
      color: #F5FBFF;
      background-color: #2d4e7c;
      border-left: 5px solid #f78755;
      padding-left: 30px; }
