// base-font-family
$base-ff: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;

// color
$banner-color:#2b4064;
$word-color:#ACCADF;
$word-color-active:#F5FBFF;

$back-gray:#ededed;
$title-back:#2c3049;

$btn-orange:#f78755;

$cate-list-blue:#2b446b;
$cate-list-blue-active:#2d4e7c;

// headerHeight
$headerHeight:50px;